* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-color: #555;
    color: #555;
    background-size: cover;
    background-position: center;
    
    font-weight: 300;
    position: relative;
    height: 100vh;
    
}

.title {
    text-align: center;
    color: #8dc0f3;
    font-size: 100px; 

}
.title span {
    text-align: center;
    color: white;
    font-size: 100px; 

}

.x-turn {
    text-align: left;
    color: #8dc0f3;
    font-size: 75px; 
    padding: 50px;  
    display: flex; 
}

.x-winner {
    text-align: left;
    color: #ffe600;
    font-size: 75px; 
    padding: 50px;  
    display: flex; 
}
.tieL {
    text-align: left;
    color: #ffe600;
    font-size: 75px; 
    padding: 50px;  
    position: relative; 
}
.tieR {
    text-align: right;
    color: #ffe600;
    font-size: 75px; 
    padding: 50px;  
    position: relative; 
    bottom: 200px; 
}


/* to show and remove 
document.querySelector('.0-turn').remove 
document.querySelector('.0-turn').add 
*/
.o-turn {
    text-align: right;
    color: #8dc0f3;
    font-size: 75px; 
    padding: 50px; 
     
    bottom: 500px;   

}

.o-winner {
    text-align: right;
    color: #ffe600;
    font-size: 75px; 
    padding: 50px;  
     
    bottom: 400px;
}


.x,
.o {
  cursor: default;
}

.x::after {
  content: '×';
  font-size: 200px;
}

.o::after {
  content: '○';
  color: #F2EBD3;
  font-size: 225px;
}






button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}


.btn-new { top: -20px;}




.game-board
{
    padding: 10px; 

	margin: 0 auto;
    background-color: #8dc0f3;
    color: #fff;
    border: 6px solid #8dc0f3;
    border-radius: 10px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    box-shadow: 5px 20px 100px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

.button {     
    border: 6px solid #98c6f5;
    border-radius: 2px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;       
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

.box
{
     
    border: 6px solid #98c6f5;
    border-radius: 2px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.game-cell {
   
    background: #8dc0f3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 200px;
    width: 200px;
    border: 6px solid #98c6f5;
    border-radius: 2px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
  }